<p id="notice"><%= notice %></p>

<header>
  <h1>XXX</h1>

</header>







<body>
<div class = "contents">
<div class="side">

<div class ="banner">
  <a class="link" href="/">
  <div class="box1">
  <p>Top </p>
  </div>
  </a>

  <a class="link" href="/about">
  <div class="box1">
  <p>About us</p>
  </div>
  </a>
  <a class="link" href="/concepts">
  <div class="box1">
  <p>Concepts</p>
  </div>
  </a>



  <a class="link" href="/articles">
  <div class="box1">
  <p>Articles</p>
  </div>
  </a>
  <a class="link" href="/options">
  <div class="box1">
  <p>Options</p>
  </div>
  </a>
  <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSdgxgTK4d5sgVsEkJptkRGm7DIuTdoKl0BUhj2VQl1WQNPcqQ/viewform">
  <div class="box1">
  <p>Contact us</p>
  </div>
  </a>
  <div class ="space">
  </div>


  




</div>
</div>

  <main>
    <div class="top_page">
    <div class = "top_image">
    </div>
    <div class = "top_text">
    <h1>「ふしぎ、おもしろい。」そこから始めよう</h1><br>
    <p>興味を持ち，自分に適した学習方法を身に着け，<br>
    自ら学べる「根強い」学力の木を育てる<br>
    小学生・中学生向けオンライン学習サポート<br>
    <br>
    <a href="/options"><mark>無料体験実施中!!</mark></a>


    </p>


    </div>
    </div>



   
  </main>
</div>

<footer>
 
    XXXXX
</footer>
  
</body>
