<p id="notice"><%= notice %></p>

<header>
  <h1>XXX</h1>

</header>



<article>
<div class ="banner">
  <div class="box1">
      <%= link_to 'About us', '/about',{ :class => "link"} %>
  </div>

  <div class="box1">
      <%= link_to 'Concepts', '/concepts',{ :class => "link"}  %>
  </div>

  <div class="box1">
      <%= link_to 'Options', '/about',{ :class => "link"}  %>
  </div>

  <div class="box1">
      <%= link_to 'Contact us', '/about',{ :class => "link"}  %>
  </div>
  <div class="space"
</div>

</article>



<body>
  <main>
  <ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
    </li>
  <% end %>
</ul>
    <div class="title">
    <h1>Columns</h1>
    </div>
    <p>勉強法や学習のコツに関する情報を不定期で発信していきます</p>



  

    <div class = "subtitle">
      <h2>我々の提供価値</h2>
      <hr>
    </div>
    <div class="text">
    <h3>学習の仕組みを理解し，個人に合う学習方法が身に付きます</h3><br>
    <%= image_tag 'fig2.png' %>
    <p>多くの受験塾では、高校入試突破を目標に独自のカリキュラムを組んで授業・指導を行い、生徒はそれに従い授業を受け、宿題をこなし定期的にテストを受ける、いわゆる「詰め込み型教育」を行っています。
    一方、日本の学校教育ではこれまで「ゆとり教育」や「総合的学習・探求活動」など、教科の詰め込み型教育に偏り過ぎない施策をとってきています。<br>
    私たちは、詰め込み型教育が必ずしも悪だとは考えていません。はじめから勉強に楽しさを覚え、やりがいを感じる生徒は多くない中で、半ば強制的に勉強させ、競争心を引き出して学力を高める効果は相応にあるでしょう。<br>
    しかし、生徒全員が詰め込み型教育に適しているわけではなく、個人に合った学習方法を柔軟に提供する必要があると私たちは考えます。競争するのが苦手で自分のペースでやりたい子、勉強に興味を持てない中で詰め込まれても何も頭に入らない子など、たくさんいるでしょう。そんな中で、多くの学習塾で指導方針が詰め込み型に寄っているのは、果たしてあるべき姿なのでしょうか。<br>
    <br>
    〇〇会では、興味をもち、自ら学ぶ習慣を付け、その結果として学力が身につくという教育学の理論に基づき、個々人に合わせた指導を行っていきます。

    </p>

    </div>
    <br>
    <div class = "subtitle">
    <h2>目指す教育スタイル</h2>
    <hr>
    </div>
    <div class="text">
    <h3>興味を持ち，目標を定め，自ら学び，「根強い」学力を身に着けます</h3><br>
    <%= image_tag 'fig1.png' %>
    <p>頑張っているのに，成績が伸びない<br>
    勉強を<br>
    <br>
    詰め込み型の授業は時代遅れ。<br>
    興味を持ち，目標を定め，自ら学び，「根強い」学力を身に着ける</p>  
    </div>
    <br>

    <div class = "subtitle">
      XXX
      <hr>
    </div>
    <div class="text">
      ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    </div>
    <br>

  </main>
  <footer>
 
    XXXXX
  </footer>
  
</body>
