<p id="notice"><%= notice %></p>

<header>
  <h1>XXX</h1>

</header>







<body>
<div class = "contents">
<div class="side">

<div class ="banner">
  <a class="link" href="/">
  <div class="box1">
  <p>Top </p>
  </div>
  </a>

  <a class="link" href="/about">
  <div class="box1">
  <p>About us</p>
  </div>
  </a>
  <a class="link" href="/concepts">
  <div class="box1">
  <p>Concepts</p>
  </div>
  </a>



  <a class="link" href="/articles">
  <div class="box1">
  <p>Articles</p>
  </div>
  </a>
  <a class="link" href="/options">
  <div class="box1">
  <p>Options</p>
  </div>
  </a>
  <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSdgxgTK4d5sgVsEkJptkRGm7DIuTdoKl0BUhj2VQl1WQNPcqQ/viewform">
  <div class="box1">
  <p>Contact us</p>
  </div>
  </a>
  <div class ="space">
  </div>


  




</div>
</div>

  <main>
    <div class="title">
    <h1>Options</h1>
    </div>



   

    <div class = "subtitle">
      <h2>具体的な指導イメージ</h2>
      <hr>
    </div>
    <%= image_tag 'fig3.png', class:'img' %>
    <div class="text">
  
   
    <p>
    <mark>特色：対話型オンライン，全国どこでも受講可能，諸経費０円</mark><br>
    <br>
    知識の詰め込みは時代遅れ，<b>教科横断</b>で使える勉強方法が身に付く<br>
    東大講師による，品質が高い授業<br>

    <%= image_tag 'fig4.png' %>

    </p>

    </div>
    <br>
    <div class = "subtitle">
    <h2>無料体験受付中!!</h2>
    <hr>
    </div>
    <div class="text">
    <h3>XXX</h3><br>

    
    <h2><mark>お問い合わせは<a href="https://docs.google.com/forms/d/e/1FAIpQLSdgxgTK4d5sgVsEkJptkRGm7DIuTdoKl0BUhj2VQl1WQNPcqQ/viewform">
    こちら</a></mark></h2>
    <%= image_tag 'fig5.png' %>

 
  </main>
</div>

<footer>
 
    XXXXX
</footer>
  
</body>
