<p id="notice"><%= notice %></p>

<header>
  <h1>XXX</h1>
  
</header>


<body>
<div class = "contents">
<div class="side">

<div class ="banner">

  <a class="link" href="/">
  <div class="box1">
  <p>Top </p>
  </div>
  </a>
  <a class="link" href="/about">
  <div class="box1">
  <p>About us</p>
  </div>
  </a>
  <a class="link" href="/concepts">
  <div class="box1">
  <p>Concepts</p>
  </div>
  </a>



  <a class="link" href="/articles">
  <div class="box1">
  <p>Articles</p>
  </div>
  </a>
  <a class="link" href="/options">
  <div class="box1">
  <p>Options</p>
  </div>
  </a>
  <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSdgxgTK4d5sgVsEkJptkRGm7DIuTdoKl0BUhj2VQl1WQNPcqQ/viewform">
  <div class="box1">
  <p>Contact us</p>
  </div>
  </a>
  <div class ="space">
  </div>



</div>
</div>




  <main>
    <div class="title">
    <h1>About Us</h1>
    </div>

    <div class = "subtitle">
    <h2>私たちの提供価値</h2>
    <hr>
  </div>


 
  <ul class = "list">
  <li>個人の認知プロセスを的確に捉え，的確に問題点を特定</li>
  <li>認知科学に基づく，科学的なサポートによる問題改善</li>
  <li>東大講師だからこそできる知識の体系化ノウハウに関する俯瞰的なサポート</li>
  <li>自ら学ぶ思考力を育み，生涯使える学習方法が身に付く</li>
  </ul>
  

  <div class = "subtitle">
  <h2>講師紹介</h2>
  <hr>

  <%= image_tag 'fig6.png' %>

  <%= image_tag 'fig7.png' %>
</div>


  </main>
  </div>
  <footer>
    <hr>
    XXXXX
  </footer>
  
</body>
